* {
    box-sizing: border-box;
}

body {
    background-color: #2c2f33;
    margin: 0;
    font-family: 'Helvetica', sans-serif;
}

header a,
footer a,
nav a {
    text-decoration: none;
    color: white;
}

.content a {
    color: pink;
    text-decoration: none;
}

.discord {
    color: #5865F2;
}

.twitter {
    color: #1DA1F2;
}

.codeberg {
    color: #2185D0;
}


/*main,*/

header {
    box-shadow: 0 0 10px 5px black;
}

header,
footer,
nav {
    text-align: center;
    font-size: 1.5em;
}

span {
    padding-left: 0.2em;
    padding-right: 0.2em;
}

header,
.content,
nav,
footer {
    margin: 0;
    padding: 20px;
    color: #fbffe1;
}

header {
    margin: auto;
    padding: 0.2em;
    background-color: #0f1113;
    min-width: 100%;
}

h1 img {
    max-height: 0.75em;
    border-radius: 50%;
    margin-right: 0.2em;
}

main {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.content {
    color: #fbffe1;
    flex: 1;
    margin: auto;
    max-width: 1200px;
    width: 100%;
    box-shadow: -60px 0px 120px -100px black, 60px 0px 120px -100px black;
}

h1,
h2,
h3 {
    color: #FDF6AF;
}

img {
    max-width: 1000px;
    max-height: 250px;
}

::selection {
    color: white;
    background-color: rgb(109, 109, 109);
}

nav {
    background-color: #23272a;
    position: sticky;
    bottom: 0;
}

footer {
    background-color: #0f1113;
    box-shadow: 0 0 10px 5px black;
}

@media screen and (max-width:1060px) {
    .flex-container {
        flex-direction: column;
        height: auto
    }
    #sidebar {
        min-height: 0
    }
    #sidebar a {
        display: inline-block
    }
    img {
        max-width: 100%;
        height: auto
    }
}